# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**# Objectives:**


*   Some of the popular languages that Data Scientists
*   Data Science Tools
*   evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   SQL server

### Some of the commonly used libraries used by Data Scientists include:
*   Pandas
*   Matplotlib
*   Scikit-learn
*   Hadoop Libraries

### Data Science Tools
1.   Jupyter Notebook
2.   RStudio
3.   Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#this a simple arithmetic expression to mutiply then add integers

17

In [5]:
 #This will convert 200 minutes to hours by diving by 60
A = int(input("Enter the number of minutes:"))
B = int(A/60)
C = A%60
print(B,"hours",C,"minutes")

Enter the number of minutes:200
3 hours 20 minutes

## Author : IBM
Wokha BA